.fa-lyynix:before {
  content: "";
  background: url("../assets/LyynixIcon.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  position: absolute;
  padding: 3px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fa-lyynix {
  position: relative;
}

#scene-controls menu#scene-controls-tools {
  & li button.lyynixSeparator {
    height: 25px;
    width: 80px;
    font-size: 12pt;
    font-family: var(--font-serif);
    background: var(--control-icon-color);
    color: var(--control-hover-border-color);
  }

  & li button.lyynixSeparator[data-tool="lyynixSeparator1"] {
    border-color: var(--color-warm-1);
  }

  & li button.lyynixSeparator[data-tool="lyynixSeparator1"]::before {
    content: "Kacheln";
  }

  & li button.lyynixSeparator[data-tool="lyynixSeparator2"] {
    border-color: var(--color-warm-2);
  }

  & li button.lyynixSeparator[data-tool="lyynixSeparator2"]::before {
    content: "Lichter";
  }

  & li button.lyynixSeparator[data-tool="lyynixSeparator3"] {
    border-color: var(--color-warm-3);
  }

  & li button.lyynixSeparator[data-tool="lyynixSeparator3"]::before {
    content: "Stadtteile";
  }
}


menu#scene-controls-tools li .lyynix-scene-button[data-tool="SunToggle"][aria-pressed="false"]:before {
  content: "\f186";
  font-weight: 900;
}

menu#scene-controls-tools li .lyynix-scene-button[data-tool="Frame"][aria-pressed="true"]:before {
  content: "\f850";
  font-weight: 400;
}

/* set active light to normal lightbulb*/
menu#scene-controls-tools li .lyynix-scene-button[aria-pressed="true"]:before {
  font-weight: 900;
  color: var(--color-text-selection);
}

dialog.application.dialog.lyynixMapMenuDialog section.window-content {
  overflow: auto;
}

#ui-left {
  --control-size: 60px !important;
}

section.lsmEditor section.tab fieldset {
  gap: 0px;
  & label:not(:first-of-type) {
    margin-top: 0.5rem;
  }
  & input:not(:last-child) {
    margin-bottom: 0.3rem;
  }
  & input:placeholder-shown:not(.newTag) {
    border: 3px solid red;
  }
}