.fa-lyynix:before {
  content: "";
  background-image: url("../assets/LyynixIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.fa-lyynix {
  position: relative;
  width: 25px;
  height: 25px;
}

#controls ol.control-tools.sub-controls {
  & li.control-tool[data-tool="lyynix-separator"] {
    height: 25px;
    width: 80px;
    font-size: 12pt;
    background: rgba(0, 0, 0, 0.7);
  }
  &
    li.control-tool[data-tool="lyynix-separator"][aria-label="Kacheln"]::before {
    content: "Kacheln";
  }
  &
    li.control-tool[data-tool="lyynix-separator"][aria-label="Lichter"]::before {
    content: "Lichter";
  }
  &
    li.control-tool[data-tool="lyynix-separator"][aria-label="Stadtteile"]::before {
    content: "Stadtteile";
  }
}


ol#tools-panel-lyynixmapmenu li.control-tool:not(.active)[data-tool="sun-toggle"] .lyynix-tile-button:before {
  content: "\f186";
  font-weight: 900;
}
ol#tools-panel-lyynixmapmenu li.control-tool:not(.active)[data-tool="Frame"] .lyynix-tile-button:before {
  content: "\f850";
  font-weight: 400;
}

/* set active light to normal lightbulb*/
ol#tools-panel-lyynixmapmenu li.control-tool.active i:before {
  font-weight: 900;
}

dialog.application.dialog.lyynixMapMenuDialog section.window-content {
  overflow: auto;
}
